SPREADSHEET_ID=1H38pYnwbn07z8ysCYBoWL7AxU3--q9fFMIAemX4v0vo
SHEET_NAME=crashlystic
SLACK_WEBHOOK_URL=
REPORT_TIME=08:00
SLACK_APP_TOKEN=
TRACKING_SPREADSHEET_ID=1uz7VkvtZwHjk16luXoW66olcMtSZmG-Vp45xRimaOYU
TRACKING_SHEET_ID=555656315
